:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --block-background-color: #F5F5F5;
  --button-background-color: rgb(210, 195, 170);
  --button-hover-background-color: rgb(209, 165, 100);
}

[data-theme="dark"] {
  --background-color: #353535;
  --text-color: #ffffff;
  --block-background-color: #2c2c2c;
  --button-background-color: #555555;
  --button-hover-background-color: #777777;
}




/*both are stored seperately and need to have commas to cover app*/



html, #root{
    margin: 0;
    padding: 0;
    border: none;
    overflow-x: hidden;
    overflow-y: hidden;
    overscroll-behavior: none;
    scroll-behavior: smooth; /* Smooth scrolling */
    box-sizing: border-box; /* Include padding and border in width and height */
    font-family: "Poppins", sans-serif;
}



body{
  margin: 0;
  padding: 0;
  border: none;
  width: 100%; /* Full width of the parent container */
  height: 100vh; /* Full height of the viewport */
  background: linear-gradient(to bottom right, #a4d067 50%, #ff914c 50%);
  overflow-y: none;
}


#app-logo{
  width: 120px;
  height: auto;
  position: absolute;
  -webkit-filter: drop-shadow(4px 5px rgb(101, 155, 101));
}
.history-block{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%); /* Corrected translate */
  width: 100%;
  max-width: 1020px;
  height: 620px;
  background-color: #fff;
  border-radius: 3.3rem;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
  overflow-y: none; /* Allow scrolling only when needed */
  overflow-x: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 600px;
}

.inner-box-app{
  background: transparent;
  padding: 0;
  border: 0;
  margin: 0;
  overflow-y: auto; /* Allow scrolling only when needed */
  overflow-x: hidden;
  margin-top: 23px;
  max-width: 680px;
  max-height: 500px;
  overflow-y: auto;
  scrollbar-width:thin;
}




/*Styles for container which stores all the blocks*/
.blockContainer {
  display: flex;
  position: fixed;
  width: 700px;
  height: 520px;
  overflow-x: none;
  overflow-y: auto;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0;
  z-index: 2;
  transform: translate(-47%,4%);
  scrollbar-width: thin;
}

/*Indivudal blocks for each question */


.block{
  width: 650px;
  height: auto;
  background-color: var(--block-background-color); 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 658px) {
  
   .blockContainer{
    transform: translate(16%,41%);
    overflow-x: hidden;
   }
  
  .inner-box-app{
    display: flex;
    align-items: center;
    margin-top: 70px;
    width: 100%;
    margin-left: 50px;
  }

  .block, .tab__label,.questionComment,.tab__content {
    /* Use a percentage for better responsiveness */
    max-width: 320px; /* Ensure it doesn’t exceed 400px */
    
  }

  
  
}


/*styling for the bar and container that adds questions */
.form-row{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/* Shuffle container: contains shuffle button and shuffle block */
#shuffleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*Shuffle block for the queston that is shuffled */
.shuffle{
  border-radius: 10px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}


#shuffleButton{
  margin-top: 20px;
}


/* Core styles/functionality for the tab opening and closing */
.tab{
    width: 650px;
    margin-bottom: 20px;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab__content {
  overflow: hidden;
  transition: all 0.35s;
  display: flex;
  justify-content: center;
}

.tab__label,
.tab__close {
  display: flex;
  cursor: pointer;
  
}
.tab__label {
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  margin: 0;
  height: 40px;
  border-radius:0 0 10px 10px;
  background-color: var(--block-background-color);
}
.tab__label::after {
  content: "\276F";
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
  margin-left: auto;
  animation: bounce 1s infinite, rotate 0.3s ease forwards;
}
.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
  animation: rotate 0.3s ease;
}

/* Arrow animation */
.tab input:not(:checked) + .tab__label:hover::after {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-.25rem);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  border-radius: 10px;
}
.accordion--radio {
  --theme: var(--secondary);
}
  

/*text area that holds comments */

.questionComment {
  width: 650px;
  height: 100px; /* Set a specific height for better control */
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: 550;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: thin #000000;
  background: #E8E8E8; /* Semi-transparent background */
  resize: none;
  position: relative; /* Position relative for overlay within accordion */
  z-index: 100; /* Higher z-index to overlay */
  padding: 10px; /* Add padding for better text input */
  max-height: 700px;
  overflow-y: auto;

}
textarea:focus {
  outline: none;
}

.block-tab{
  display: flex;
  flex-direction: column;
  padding: 0;
}




button {
  background-color: var(--button-background-color);
  border: none;
  color: black;
  padding: 7px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px !important;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow:  0 1px 2px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: var(--button-hover-background-color);
  box-shadow:  0 6px 8px rgba(0, 0, 0, 0.1);
}

button:active {
  transform: scale(0.95);
}


/*Search Bar CSS*/
.searchContainer{
  background-color: transparent;
  width: 20%;
  height: 23vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}


/*question anchor styling*/
.question-link{
  color: royalblue;
  text-decoration: none;
  width: 80%;
}

.question-link:hover{
  text-decoration: underline;
}

input[type="checkbox"]{
  width: 200px;
  height: auto;
}

/*delete icon styling*/
.delete-icon{
  width: 20px;
  height: auto;
}

/*delete icon styling*/
.delete-icon:hover{
  width: 25px;
  height: auto;
}