:root {
  --background-color: #f4e2d0;
  --block-text-color: #000000;
  --button-text-color: #000000;
  --block-background-color: #edc78e;
  --button-background-color: #f5e1b3;
  --button-hover-background-color: #d29d6c;
  --questioncomment-background-color: #f5e1b3;
  --comments-word-color: #000000;
}

[data-theme="dark"] {
  --background-color: #121212;
  --block-text-color: #ffffff;
  --button-text-color: #202020;
  --block-background-color: #3f3f3f;
  --button-background-color: #a688fa;
  --button-hover-background-color: #7a5fc9;
  --questioncomment-background-color: #b3b3b3;
  --comments-word-color: #e0e0e0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}