.input-wrapper{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
}

input{
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    height: 100%;
    width: 100%;
    margin-left: 5px;
    min-width: 250px;
}

input:focus{
    outline: none;
}

#search-icon{
    color: royalblue;
}