.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    text-align: center;
    z-index: 100;
  }
  
  .alert-content {
    text-align: center;
  }
  
  .alert-content p {
    margin-bottom: 20px;
  }
  
  .alert-content button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .alert-content button:hover {
    background-color: #0056b3;
  }
  