.results-list{
    width: 19rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 20%;
}